[Unit]
Description=Connect the USB drives to the host
Requires=
After=

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/usbmount mount
ExecStop=/bin/usbmount unmount

[Install]
WantedBy=archiveloop.service