[Unit]
Description=Connect the USB drives to the host
Requires=
After=

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=INSTALL_DIR/usbmount mount
ExecStop=INSTALL_DIR/usbmount unmount

[Install]
WantedBy=archiveloop.service